@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eee;
  font-family: 'Muli', sans-serif;
}

.contract, .existing-contracts {
  margin: 10px;
  display: inline-block;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

h1 {
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 2px;
}

input[type="text"] {
  padding: 6px;
  font-size: 15px;
}

.button {
  background-color: #05be02;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 7px;
  padding: 7px 10px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.button:hover{
  background-color: #058403;
}

.existing-contract ul {
  padding: 1px;
  margin: 3px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 1px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}
